# Exemple de variables d'environnement
# Ne pas mettre de vraies valeurs ici.

# Backend Express
PORT=3000

# PostgreSQL local de developpement uniquement
DATABASE_URL=postgres://cloud_lab_dev:cloud_lab_dev_password@localhost:5432/cloud_lab
PGHOST=localhost
PGPORT=5432
PGUSER=cloud_lab_dev
PGPASSWORD=cloud_lab_dev_password
PGDATABASE=cloud_lab

OS_AUTH_URL=https://example-openstack-auth-url
OS_PROJECT_NAME=example-project
OS_USERNAME=example-user
OS_PASSWORD=change-me
OS_REGION_NAME=dc3-a
