auth_url            = "https://api.pub1.infomaniak.cloud/identity/v3"
region              = "dc4-a"
project_name        = "Projet-ALJ"
username            = "PCU-XXXX"
password            = "CHANGE_ME"
external_network_id = "CHANGE_ME_EXTERNAL_NETWORK_ID"
# If your OpenStack dashboard gives a public network name, set it here.
# Otherwise leave empty and Terraform will reuse external_network_id.
external_network_name = ""

ssh_public_key_path = "~/.ssh/id_ed25519.pub"
vm_count            = 1
vm_name_prefix      = "git-cloud-lab"
image_name          = "Ubuntu 22.04"
flavor_name         = "a1-ram2-disk20-perf1"
allowed_ssh_cidr    = "0.0.0.0/0"
assign_floating_ip  = true
