openstack_cloud_name  = "openstack"
region                = "dc4-a"
project_prefix        = "cloud-lab"
network_segment       = "IT-2026-A"
network_cidr          = "10.42.0.0/24"
external_network_name = "ext-net"

allowed_ssh_cidrs = [
  "198.51.100.10/32", # Remplacer par IP publique GIT / VPN / admin. Jamais 0.0.0.0/0 en production.
]

allowed_node_exporter_cidrs = [
  "198.51.100.10/32", # Remplacer par IP du serveur Prometheus. Jamais 0.0.0.0/0 en production.
]

ssh_keypair_name = "cloud-lab-key"
ssh_public_key   = "ssh-ed25519 AAAA... remplacer-par-la-vraie-cle-publique"

assign_floating_ip = false

vm_requests = [
  {
    name        = "e1-eleve01-vm"
    flavor_name = "a1-ram2-disk20-perf1"
    image_name  = "Ubuntu 24.04 LTS Noble Numbat"
    class_tag   = "E1"
    owner_email = "etudiant1@giptech.ch"
  },
]
